/* line 68, quant_mongorouter.scss */
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#cccccc));
  background: -moz-linear-gradient(top, #dfdfdf, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#cccccc');
}

/* line 74, quant_mongorouter.scss */
#container {
  margin: auto;
  background: none;
}

/* line 79, quant_mongorouter.scss */
#box {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #efefef;
  border: 1px #111;
  margin: 30px;
}

/* line 86, quant_mongorouter.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #383737;
  font-family: "Helvetica Neue", Helvetica;
}

/* line 92, quant_mongorouter.scss */
h3, h4, h5, h6 {
  color: #383737;
}

/* line 96, quant_mongorouter.scss */
h1.tiny {
  text-transform: uppercase;
  color: #505050;
  font-size: 15px;
}

/* line 102, quant_mongorouter.scss */
h2.subtitle {
  font-size: 15px;
  font-style: italic;
  color: #505050;
}

/* line 110, quant_mongorouter.scss */
nav#main ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 116, quant_mongorouter.scss */
nav#main li a {
  font-size: 12px;
}

/* line 121, quant_mongorouter.scss */
table#repository {
  width: 100%;
  border: none;
  background: #fefefe;
}
/* line 129, quant_mongorouter.scss */
table#repository tbody td {
  font-size: 12px;
}

/* line 134, quant_mongorouter.scss */
.small, form label {
  color: #505050;
  font-size: 9px;
  text-transform: uppercase;
}

/* line 140, quant_mongorouter.scss */
.sub {
  vertical-allign: top;
}

/* line 144, quant_mongorouter.scss */
form {
  width: 60%;
}

/* line 154, quant_mongorouter.scss */
.reveal-modal h1 {
  color: #383737;
  font-size: 20px;
}

/* line 160, quant_mongorouter.scss */
.button.success, .button.alert, .button.secondary {
  border: none;
}

/* line 166, quant_mongorouter.scss */
table#repository thead {
  background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#565656));
  background: -moz-linear-gradient(top, #454545, #565656);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#454545', endColorstr='#565656');
  color: #fff;
  font-weight: bold;
  border: none;
}
/* line 172, quant_mongorouter.scss */
table#repository thead tr, table#repository thead td {
  height: 40px;
}
/* line 176, quant_mongorouter.scss */
table#repository thead td {
  padding: 5px;
}

/* line 184, quant_mongorouter.scss */
td.active .true, td.active a {
  font-size: 9px;
  color: #505050;
}
/* line 189, quant_mongorouter.scss */
td.active a {
  text-decoration: underline;
}
/* line 194, quant_mongorouter.scss */
td.active a:hover {
  color: #000;
}

/* line 199, quant_mongorouter.scss */
.alert-box .informative {
  background: #F89406;
}

/* line 203, quant_mongorouter.scss */
#alert_placeholder {
  height: 30px;
}
