<nav id="main">
    <ul>
        <li>
            <a href="#">Index of all routes</a>
        </li>
        <li>
            <a href="#">Create a new route</a>
        </li>
        <li>
            <a href="#">More options</a>
        </li>
    </ul>
</nav>