{%extends 'QuantUtilitiesMongoRouterBundle::quant_utilities_layout.html.twig' %}
{%block title %}
    All the database routes
{%endblock%}
{%block body%}
    <h1>All active and deactivated routes defined in the database</h1>
{%endblock%}