<h1 style="color:red; padding-bottom:0px;">Q</h1>
<nav id="main">
    <ul>
        <li>
            <a href="{{path('QuantUtilitiesMongoRouterBundle_admin_index')}}">Index of all routes</a>
        </li>
        <li>
            <a href="{{path('QuantUtilitiesMongoRouterBundle_admin_addroute') }}">Create a new route</a>
        </li>
        <li>
            <a href="#">Cache index</a>
        </li>
         <li>
            <a href="#">Settings</a>
        </li>
    </ul>
</nav>
<!--
<div href="#" class="large button dropdown">
  Dropdown Button
  <ul>
    <li><a href="#">Dropdown Item</a></li>
    <li><a href="#">Another Dropdown Item</a></li>
    <li class="divider"></li>
    <li><a href="#">Last Item</a></li>
  </ul>
</div> -->