<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{asset('/fe_frameworks/foundation/stylesheets/foundation.min.css')}}">
        <link rel="stylesheet" href="{{asset('/bundles/quantutilitiesmongorouter/css/quant_mongorouter.css')}}">
        <script src="{{ asset('/fe_frameworks/foundation/javascripts/foundation.min.js') }}"></script>
        {%block headers %}{%endblock%}
        <title>Dynamic Router - {%block title%}{%endblock%}</title>
    </head>
    <body>
        <div class="row" id="container">
            <div class="two columns">

                        {%block menu%}
                        {%endblock%}
            </div>
            <div class="ten columns">
                        {%block body %}{%endblock%}
                </div>
            </div>

        </body>
    </html>