<!DOCTYPE html>
<html>
    <head>
        {%block headers %}{%endblock%}
            <link rel="stylesheet" href="{{asset('')}}">
            <title>Dynamic Router - {%block title%}{%endblock%}</title>
        </head>
        <body>
            <div id="container">
                <header>

                </header>

            </div>
        </body>
    </html>